# Neon Postgres Configuration (Data API & Neon Auth)
# Format: https://ep-xxxx.c-2.us-east-1.aws.neon.tech/neondb
VITE_NEON_DATABASE_URL=

# (Opsional) Supabase Configuration (Jika menggunakan Supabase)
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

